.startImg {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.startImg img {
  width: 45%;
}

p {
  font-size: 14px;
  width: 80%;
  margin: 2%;
}
.dataContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filmsDate {
  text-align: center;
  padding: 5%;
  min-height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.filmWrapper {
  display: flex;
  width: 100%;
  padding: 5%;
}

.filmImg {
  width: 100px;
}

.filmImg img {
  width: 85px;
  height: 120px;
  object-fit: cover;
}

.filmContent {
  width: 100%;
  padding-left: 1%;
  flex: 1;
}

.filmName {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
}

.filmDate {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #cccccc;
}

.seasonEpisode {
  font-size: 13px;
  display: flex;
  width: 90%;
  padding: 14px 10px;
  color: #bfbfbf;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-top: 30px;
}
.seasonEpisode div {
  margin: 0% 4%;
}
