* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 50px;
  background-color: #f1f1f1;
}
.header img {
  display: block;
  margin-left: 35%;
  width: 30%;
}
img.arrow {
  float: left;
  display: block;
  margin-left: 4%;
  width: 3%;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
